/*
color1: hsla(0, 0%, 99%, 1);
color2: hsla(231, 80%, 80%, 1); 163 175 245
color3: hsla(30, 91%, 56%, 1); 245 143 41
color4: hsla(163, 100%, 33%, 1); 0 168 121
color5: hsla(211, 56%, 43%, 1); 48 108 171
*/

body {
  counter-reset: item;
}

p, ol {
  font-size: 1.4em;
}

#exercises-content {
  margin-top: 80px;
  max-width: 600px;
}

#exerise-path {
  position: relative;
}

#path-image {
  margin-top: 150px;
  width: 85%;
}

#monster {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 95px;
  left: -55px;
}

.path-button {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  opacity: 0;
  border-radius: 100%;
}

#path-button-1 {
  position: absolute;
  top: 150px;
  left: 60px;
}

#path-button-2 {
  position: absolute;
  top: 219px;
  left: 243px;
}

#path-button-3 {
  position: absolute;
  top: 414px;
  left: 80px;
}

#path-button-4 {
  position: absolute;
  top: 535px;
  left: 192px;
}

#path-button-5 {
  position: absolute;
  top: 662px;
  left: 145px;
}

#glasses-image {
  width: 70%;
  margin-left: 20px;
  margin-bottom: 20px;
}

#glasses-caption {
  font-style: italic;
}

#beliefs-exercise {
  margin-top: 40px;
  margin-bottom: 20px;
}

#beliefs-list {
  list-style: none;
  padding-left: 15px;
}

#beliefs-list li {
  counter-increment: item;
  margin-bottom: 5px;
}

#beliefs-list li:before {
  margin-right: 15px;
  content: counter(item);
  background: hsla(211, 56%, 43%, 1);
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

#button-share, #button-share:hover, #button-share:active,
#button-next, #button-next:hover, #button-next:active {
  background-color: white;
  background-image: url('../assets/images/panel-blue.png'); !important;
  background-size: 100% 100%;
  height: 50px;
  width: 200px;
  border: 0px solid white !important;
  font-size: 1.3em;
  color: black;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-top: 20px;
  margin-bottom: 40px;
}

#button-share:hover, #button-next:hover {
  cursor: pointer;
}

#button-share:active, #button-next:active {
  position: relative;
  top: 5px;
  cursor: pointer;
}

#button-share {
  margin-right: 10px;
  margin-left: 30px;
}
