#facts-content {
  padding-top: 100px;
}

/*Navigation menu*/

.navbar-brand img {
  width: 50px;
  height: auto;
}

.navbar, .navbar-default, .navbar-nav>li>a {
  background-color: hsla(163, 100%, 33%, 1);
  color: #fff;
  font-size: 1.8rem;
}

.navbar-default .navbar-nav>li>a {
  color: hsla(0, 0%, 99%, 1);
}

/*General rules for sections*/

.intro__heading, .fact-sheet__heading, .resources__heading {
  font-size: 2.0rem;
  color: hsla(211, 56%, 43%, 1);
}

.glyphicon {
  color: hsla(163, 100%, 33%, 1);
}

/*Fact sheet section*/

#fact-sheet {
  /*fallback color option*/
  background-color: hsla(231, 80%, 80%, 0.5);
  background-image: linear-gradient(hsla(231, 80%, 80%, 0.1), hsla(211, 56%, 43%, 0.8), hsla(163, 100%, 33%, 0.9));
  border-radius: 2px;
  border: 1px solid hsla(211, 56%, 43%, 1);
  box-shadow: 5px 5px 15px hsla(30, 91%, 56%, 1);
}

.fact-sheet__list {
  transform: rotate(-1deg);
  margin-top: 2rem;

}

.fact-sheet__list-item, .resources__list-item {
  border: none;
  background-color: hsla(0, 0%, 99%, 1);
  font-size: 1.2em;
}

.fact-sheet__pin {
  width: 30px;
  height: auto;
  position: absolute;
  right: 7px;
  top: 40px;
  z-index: 100;
}
